
<p id="notice"><%= notice %></p>

<!--<div class="row">
   <div class="col-md-12">
     <% @videos.each do |video| %>
          <td><%= link_to image_tag(video.video_url(:thumb)), video_path(video)%></td>
    <% end %>
  </div>
</div>-->
<div id="owl-demo-video" class="owl-carousel">
    <% @videos.each do |video| %>
    <div class="item"> <a href="<%= video_path(video) %>"><%= image_tag video.video_url(:thumb) , :class => "img-responsive" %></a><center><%= video.name%></center> </div>
    <%end%> 
</div>


<br>

<div class="row">
  <center>  
    <%= render "shared/video" %>
  </center>
</div>

<br>



<div class="row">
  <% @videos_bottom_pagiantion.each do |video|  %>
    <div class="col-xs-6 col-md-3">
      <a class="thumbnail" href="<%= video_path(video) %>">
      <%= video.name %>
      <%= image_tag video.video_url(:thumb) , :class => "img-responsive" %></a>
    </div>
  <% end %>
  </div>

<div class="row">
<center>
  <%= will_paginate @videos_bottom_pagiantion,renderer: BootstrapPagination::Rails, :page_links => false , remote: true %>
  </center>
</div>



 <div class="row">
<%= render_shareable  %>
</div>
