
<p id="notice"><%= notice %></p>

<style type="text/css">
  body
{
  background-color: #CB8937;
}
</style>


<div class="container">
<div class="row">
   <div class="col-md-12">
     <% @videos.each do |video| %>
          <td><%= link_to image_tag(video.video_url(:thumb)), video_path(video)%></td>
    <% end %>
  </div>
</div>



<div class="row">
  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <%= render "shared/video" %>
  </div>

  <div class="col-md-4">
  </div>
</div>



 <div class="row">
   <div class="col-md-12">
     <% @videos.each do |video| %>
          <td><%= link_to image_tag(video.video_url(:thumb)), video_path(video)%></td>
    <% end %>
  </div>
  </div>


 <div class="row">
<%= render_shareable  %>
</div>
</div>