<%= simple_form_for(@news) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content, as: :text %>
  </div>
<br><br><br><br>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
