
<% @contact_type=params[:contact_type]%>
<% if @contact_type=="1"%>
	<h1>New Prayer Request</h1>
<% end %>
<% if @contact_type=="2"%>
	<h1>New Testimonial</h1>
<% end %>
<% if @contact_type=="3"%>
	<h1>Feedback</h1>
<% end %>

<%= simple_form_for :contact, url: contacts_path(contact_type: @contact_type) do |f| %>
  <%= f.error_notification %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 	<p id="notice"><%= notice %></p>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :message, as: :text %>
<br><br><br><br>
    <%= f.button :submit %>
 
<% end %>


	
