<%= form_tag(bibles_path,:method => "get",id: "search-form") do%>

  <%= text_field_tag :search,params[:search] %>
  <%= submit_tag "search",:name => nil%>
<%end%>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
      <div class="row">
        <div class="col-md-8"> 
          <h4><center>Books</center></h4>         
            <ol>             
               <li>      
                <ul>

                <%if @bibles.count!=0 %>
                    <% @bibles.in_groups_of(3, false) do |row_bible| %>   
                        <% row_bible.each do |bible|%>
                            <%unless bible.chapters.count== 0%>
                                <% @first_chapter = bible.chapters.first.id %>
                                <li><%=link_to bible.name,bible_chapter_path(bible , @first_chapter) , class: 'l4link btn btn-success'%></li>
                            <%else%>
                                <li><%=link_to bible.name, bible_chapters_path(bible) , class: 'l4link btn btn-success'%></li> 

                            <%end%>
                          
                        <%end%>

                    <%end%>

                <%else%>
                Nothing found
                <%end%>



                  
                </ul>
               </li>
              </ol>
        </div>
        <div class="col-md-1" >      
        </div>
        <div class="col-md-4">
        
        </div>
      </div>
    </div>    
    <div class="col-md-2" >      
    </div>
</div>


<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
<%#= image_tag "IMG-20140910-WA0003.jpg", class: "img-responsive" %>
</div>
<div class="col-md-2"></div>
</div>



