  
<div class="visible-lg">
  <div id="carousel-example-generic" class="carousel slide" style="width: 300px; height:300px; margin: 0 auto ">
  <!-- Indicators -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
       <%= image_tag  @album.cover_url ,:class => "img-responsive" %> 
      <div class="carousel-caption">
           <p><button class="btn btn-lg btn-primary">Currently playing</button></p>
      </div>
    </div>
    <% @albums.each do |album|  %>
    <div class="item">
       <%= image_tag album.cover_url :class => "img-responsive" %>
      <div class="carousel-caption">
         <p><%= link_to "Play" ,album_path(album), :class => "btn btn-lg btn-primary"%></p>
      </div>
    </div>
    <% end  %>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>


<div class="visible-sm visible-xs visible-md ">

  <div id="carousel-example-generic-mobile" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
       <%=image_tag  @album.cover_url ,:class => "img-responsive" %> 
      <div class="carousel-caption">
      </div>
    </div>
    <% @albums.each do |album|  %>
    <div class="item">
       <%= image_tag album.cover_url :class => "img-responsive" %>
      <div class="carousel-caption">
         <p><%= link_to "Play" ,album_path(album), :class => "btn btn-lg btn-primary"%></p>
      </div>
    </div>
    <% end  %>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

</div>


