

<div class="row ">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-7 ">
          <div class="btn-group">
              <button type="button" class="btn btn-default"><%= "Select type" %></button>
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
              <li><%=link_to "IN CHRONOLOGICAL ORDER", bible_chapter_path%></li>
              <li><%=link_to  "NEW TESTAMENT",  bible_chapter_path(bible_type: 1)%></li>
              <li><%=link_to "OLD TESTAMENT", bible_chapter_path(bible_type: 2)%></li>
              </ul>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
              <%= @bible.name%> <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
              <ul class="dropdown-menu" role="menu">
                 <%= form_tag(bibles_path, method:  "get", id: "search-form") do %>
                   <%= text_field_tag :search, params[:search], placeholder: "Search bibles" %>
                    <%= submit_tag "Search", :name => nil %>
                 <% end %>
                <li>
                  <%if @bibles.count!=0 %>
                     <% @bibles.in_groups_of(3, false) do |row_bible| %>   
                         <% row_bible.each do |bible|%>
                             <%unless bible.chapters.count== 0%>
                                            <% @first_chapter = bible.chapters.first %>
                                 <li><%=link_to bible.name,bible_chapter_path(bible,@first_chapter)%></li>
                             <%else%>
                                 <li><%=link_to bible.name, bible_chapters_path(bible)%>
                                            
                                 </li>
                             <%end%>                          
                         <%end%>
                     <%end%>
                    <%else%>
                    Nothing found
                  <%end%>
                </li>   
              </ul>
          </div>
      </div>              
      <div class="col-md-5">  
          <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
             <%= @chapter.chapter_number%> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
             <li><%= render 'bibles/show'%></li>
            </ul>
          </div>          
      </div>
    </div>
  </div>    
    <div class="col-md-2" >      
    </div>
</div>



