<div class="row b">
  <div class="col-md-2"></div>
  <div class="col-md-8">
      <div class="row">
        <div class="col-md-7 ">         
          <div class="btn-group">
  <button class="btn btn-info btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
   <%= @bible.name%><span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
   <div class="chapters">         
            <ol>             
               <li>      
                <ul>
                    <%if @bibles.count!=0 %>
                    <% @bibles.in_groups_of(3, false) do |row_bible| %>   
                        <% row_bible.each do |bible|%>
                            <%unless bible.chapters.count== 0%>
                                <% @first_chapter = bible.chapters.first %>
                                <li><%=link_to bible.name,bible_chapter_path(bible , @first_chapter) , class: 'l4link btn btn-success'%></li>
                            <%else%>
                                <li><%=link_to bible.name, bible_chapters_path(bible) , class: 'l4link btn btn-success'%>
                                
                                </li>
                            <%end%>                          
                        <%end%>
                    <%end%>
                <%else%>
                Nothing found
                <%end%>
                </ul>
               </li>
              </ol>
            </div>
        </div>  
  </ul>
</div>
               
        <div class="col-md-5">
        
          <%#= render 'bibles/recoment'%>



          <div class="btn-group">
  <button class="btn btn-info btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
   <%= @chapter.chapter_number%> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
   <li><div class="chapters"><%= render 'bibles/show'%></div></li>
  </ul>
</div>




          
        </div>
      </div>
    </div>    
    <div class="col-md-2" >      
    </div>
</div>
