
<%= render 'chapter'%>
&nbsp;
<div class="row  book">
  
   <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <p id="notice"><%= notice %></p>
    <center>
    <h3>Chapters Of <%= @chapter.bible.name%></h3>
      <strong>Chapter number:</strong>
      <%= @chapter.chapter_number%>
    </center>
    <p> 
      <%= render 'prev'%>
      <%= render 'next'%>
      
      <% if @bible.chapters.count == 0 %>      
        <%= image_tag "images.png" %>
        <%else%>       
       <%= image_tag @chapter.chapter_image_url, class: "img-responsive" %>
       <%end%>
       <%= render 'next'%>
      <%= render 'prev'%>     
    </p>
    <p>
      <%= audio_tag @chapter.chapter_audio_url %>
    </p> 
  </div>    
  <div class="col-md-1">
  </div>
 
</div>

<div class="row">
  <div class="col-md-4">
  </div>
    <div class="col-md-4">
    <div id="jp_container_6" class="jp-video jp-video-270p">
      <div class="jp-type-playlist">
        <div id="jquery_jplayer_6" class="jp-jplayer"></div>
        <div class="jp-gui">
          <div class="jp-video-play">
            <a href="javascript:;" class="jp-video-play-icon" tabindex="1">play</a>
          </div>
          <div class="jp-interface">
            <div class="jp-progress">
              <div class="jp-seek-bar">
                <div class="jp-play-bar"></div>
              </div>
            </div>
            <div class="jp-current-time"></div>
            <div class="jp-duration"></div>
            <div class="jp-details">
              <ul>
                <li><span class="jp-title"></span></li>
              </ul>
            </div>
            <div class="jp-controls-holder">
              <ul class="jp-controls">
               
                <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
          
                <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
              </ul>
              <div class="jp-volume-bar">
                <div class="jp-volume-bar-value"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="jp-playlist">
        </div>
        <div class="jp-no-solution">
          <span>Update Required</span>
          To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
  </div>

</div>


