<%= render 'chapter'%>
&nbsp;
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-2">    
  </div>  
  <div class="col-md-6 book">
    <p id="notice"><%= notice %></p>
    <center>
    <h3>Chapters Of <%= @chapter.bible.name%></h3>
      <strong>Chapter number:</strong>
      <%= @chapter.chapter_number%>
    </center>
    <p> 
      <%= render 'prev'%>
      <%= render 'next'%>
      <% if @bible.chapters.count == 0 %>      
        <%= image_tag "images.png" %>
        <%else%>       
       <%= image_tag @chapter.chapter_image_url, class: "img-responsive" %>
       <%end%>
       <%= render 'next'%>
      <%= render 'prev'%>     
    </p>
    <p>
      <%= audio_tag @chapter.chapter_audio_url %>
    </p> 
  </div>    
  <div class="col-md-1">
  </div>
  <div class="col-md-2">    
  </div>
</div>



