

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Word To World Radio<%#= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%#= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= render 'layouts/devices' %>
    <%#= javascript_include_tag "application" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body>    
  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <header class="site-header" role="banner"> 
          <%= render 'layouts/header' %>   
        </header>   
  <div class="main-container">  
    <div class="panel panel-success">
      <div class="panel-heading"><center>Title</center></div>
      <div class="panel-body">
           <%= yield %> 
      </div>
    </div>

      
  </div>   
  <footer  class="site-footer" role="banner">   
      <%= render 'layouts/footer' %>
       </div>
      <div class="col-md-2"></div>
    </div>    
  </footer>
   </body>
</html>

